/**
 * MistDrop
 * --------
 * Version: 0.3.0
 */


/**
 * Global styles
 */
*, *:after, *:before { box-sizing: inherit; }

html { box-sizing: border-box; }

body {
    background-color: #FFF;
    color: #4D4B4B;
    text-rendering: optimizelegibility;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    letter-spacing: 0.01em;
    line-height: 1.3em;
}


/**
 * Element styles
 */
a { color: #009; }
a:focus { color: #1eb2bd; }
a:active { color: #427cad; }

blockquote {
    border-left: 2px solid #cfd8dd;
    padding: 0.2em 1.6em;
    margin: 2em 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    border: 1px solid #908585;
    padding: 0 1rem;
    height: 2rem;
    text-decoration: none;
    cursor: pointer;
    vertical-align: top;
    color: #000;
}

button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
    outline: 0;
    text-decoration: underline;
}

pre > code {
    display: block;
    white-space: pre;
}
pre {
    border-left: 2px solid #cfd8dd;
    padding: 0.6em 1.6em;
    margin: 2em 0;
    background-color: #EEE;
}

input, textarea, select {
    border: 1px solid #D4D4D4;
    padding: 0.5em 0.4em;
    vertical-align: top;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    letter-spacing: 0.01em;
}
input:focus,
textarea:focus,
select:focus {
    border: 1px solid #83807d;
    background-color: #FFF;
    box-shadow: 1px 1px 2px inset rgba(0,0,0,0.18);
}

input[disabled],
button[disabled],
textarea[disabled],
select[disabled]{
    outline: 0;
    color: #999;
    text-decoration: none;
    border-color: #aa9f9f;
    background-color: #DDD;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.4em 0;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }

img { max-width: 100%; }


/**
 * New classes
 */
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.hidden { display: none; }

.success, .warn, .error { padding: 0.2em 0.3em; }
.success {
    background-color: #cff6cb;
    border: 1px solid #82cc55;
}
.warn {
    background-color: #f6efcb;
    border: 1px solid #ccbe55;
}
.error {
    background-color: #f6dacb;
    border: 1px solid #cc6e55;
}
