*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #4A4A4A;
}

button, input, textarea, select,
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.35em;
}

button, input, textarea, select {
  padding: 0.25em 0.5em;
}

blockquote, pre {
  padding: 0.5em 1em;
  margin: 1em 0;
  background-color: #EEE;
  border-left: 2px solid #CFCFCF;
  overflow-x: auto;
}

pre > code {
  display: block;
  white-space: pre;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.6em 0;
  letter-spacing: 0;
  word-spacing: 0.07em;
}

img {
  max-width: 100%;
}

.hidden, .mobile_only {
  display: none;
}

@media (max-width: 768px) {
  .mobile_hidden {
    display: none;
  }
  .mobile_only {
    display: block;
  }
}
